
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- 왼쪽 사이드바 -->
<div class="sidebar" th:fragment="nonActive"></div>
<div class="sidebar" th:fragment="active(title,sub)">
  <ul>
    <li class="sale" th:if="${#strings.equals(title,'sale')}">
      <a href="/headOffice/salesList">매출</a>
      <ul class="submenu">
        <li><a href="/headOffice/salesList" th:classappend="${#strings.equals(sub, 'salesList') ? 'active' : ''}">매장별 매출 현황</a></li>
      </ul>
    </li>
    <li class="receiving" th:if="${#strings.equals(title,'receiving')}">
      <a href="/headOffice/inboundList">입고</a>
      <ul class="submenu">
        <li><a href="/headOffice/inboundList" th:classappend="${#strings.equals(sub, 'inboundList') ? 'active' : ''}">입고현황</a></li>
        <li><a href="/headOffice/purchaseOrder" th:classappend="${#strings.equals(sub, 'purchaseOrder') ? 'active' : ''}">발주서</a></li>
      </ul>
    </li>
    <li class="shipping" th:if="${#strings.equals(title,'shipping')}">
      <a href="/headOffice/outboundManagement">출고</a>
      <ul class="submenu">
        <li><a href="/headOffice/outboundManagement" th:classappend="${#strings.equals(sub, 'outboundManagement') ? 'active' : ''}">출고관리</a></li>
      </ul>
    </li>
    <li class="inventory" th:if="${#strings.equals(title,'inventory')}">
      <a href="/headOffice/inventoryStore">재고</a>
      <ul class="submenu">
        <li><a href="/headOffice/inventoryStore" th:classappend="${#strings.equals(sub, 'inventoryStore') ? 'active' : ''}">매장별 재고현황</a></li>
        <li><a href="/headOffice/inventoryRegister" th:classappend="${#strings.equals(sub, 'inventoryRegister') ? 'active' : ''}">기초품목 등록</a></li>
        <li><a href="/headOffice/menuRegister" th:classappend="${#strings.equals(sub, 'menuRegister') ? 'active' : ''}">메뉴 등록</a></li>
      </ul>
    </li>
    <li class="etc" th:if="${#strings.equals(title,'etc')}">
      <a href="/headOffice/franchiseList">게시판관리</a>
      <ul class="submenu">
        <li><a href="/headOffice/franchiseList" th:classappend="${#strings.equals(sub, 'franchise') ? 'active' : ''}">프랜차이즈 상담</a></li>
        <li><a href="/headOffice/faqList" th:classappend="${#strings.equals(sub, 'faq') ? 'active' : ''}">점주 질문</a></li>
        <li><a href="/headOffice/memberList" th:classappend="${#strings.equals(sub, 'member') ? 'active' : ''}">매장 현황</a></li>
        <li><a href="/headOffice/memberAdd" th:classappend="${#strings.equals(sub, 'memberAdd') ? 'active' : ''}">매장 등록</a></li>
      </ul>
    </li>
  </ul>
</div>
</html>
