<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{headOffice/meta::myHead('점주질문')}"></head>
<body>
<header th:replace="~{headOffice/tnb}"></header>
<div class="section">
    <div th:replace="~{headOffice/header}"></div>


    <div class="main-layout">
        <div th:replace="~{headOffice/etcLnb::active('etc','faq')}"></div>

        <!-- 본문 컨텐츠 -->
        <div class="content">
            <div class="helpDetail">
                <h2><span th:text="${ownerState=='owner' ?'내 문의글':'문의 게시판'}"></span> 상세 내용 보기</h2>

                <div class="question-box">
                <div class="question-header">
                    <span class="question-date"><strong>유형 :</strong> [[${content.category01}]]</span>
                    <strong class="question-title">[[${content.title}]]
                    <img src="/images/secureswitch.gif" alt="secure_switch" class="vault-locked" th:if="${#strings.equals(content.state,'비공개')}">
                    </strong>
                    <span class="question-date"><strong>문의 날짜 :</strong> [[${content.regDate}]]</span>
                </div>
                <div class="question-info">
                    <span><strong>아이디 :</strong> [[${content.memberName}]]</span>
                </div>
                <div class="question-body">
                    [[${content.content}]]
                </div>
                </div>
                <form action="/headOffice/faqDetail" method="post" th:if="${#lists.isEmpty(content.faqReplyList)}">
                    <input type="hidden" name="boardId" th:value="${content.id}">
                    <div class="answer-box">
                        <div class="answer-body">
                            <textarea id="counsel-input" placeholder="상담 내용을 입력해주세요." name="content"></textarea>
                        </div>
                    </div>
                    <button class="ask-btn">상담완료</button>
                    <button class="return-btn" type="button" onclick="window.history.back()">보류</button>
                </form>
                <th:block th:unless="${#lists.isEmpty(content.faqReplyList)}">
                    <div class="answer-box" th:each="answer : ${content.faqReplyList}">
                        <div class="answer-header">
                            <span class="answer-date">상담자 : [[${answer.memberName}]]</span>
                            <strong>답변 내용</strong>
                            <span class="answer-date">답변 날짜 : [[${answer.regDate}]]</span>
                        </div>
                        <div class="answer-body">
                            [[${answer.content}]]
                        </div>
                    </div>
                    <button class="ask-btn" onclick="window.history.back()">목록으로</button>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>