<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{headOffice/meta::myHead('매장현황')}"></head>
<body>
<header th:replace="~{headOffice/tnb}"></header>
<div class="section">
    <div th:replace="~{headOffice/header}"></div>


    <div class="main-layout">
        <div th:replace="~{headOffice/etcLnb::active('etc','member')}"></div>

        <!-- 본문 컨텐츠 -->
        <div class="content franchiseInquiry" style="padding-bottom:100px;">
            <h2>매장현황</h2>
            <div class="search_box typePark">
            <form action="/headOffice/memberList" method="get" class="search_form" id="searchForm" >
                <input type="hidden" name="keyword" id="keywordBox">
                <select name="category" class="searchTerm" onchange="changeForm2(this)">
                    <option value="userName" th:selected="${pageDto.category == 'userName'}">고객명</option>
                    <option value="userTel" th:selected="${pageDto.category == 'userTel'}">연락처</option>
                    <option value="name" th:selected="${pageDto.category == 'name'}">매장명</option>
                    <option value="space" th:selected="${pageDto.category == 'space'}">매장위치</option>
                    <option value="state" th:selected="${pageDto.category == 'state'}">매장상태</option>
                </select>
                <input type="text" class="textBox" placeholder="검색어를 입력하시오."
                       th:value="${pageDto.category != 'state' ? pageDto.keyword : ''}" id="query"/>
                <select class="statusBox" id="statusBox" style="display:none;">
                    <option value="오픈예정" th:selected="${pageDto.category == 'state' and pageDto.keyword == '오픈예정'}">오픈예정</option>
                    <option value="영업중" th:selected="${pageDto.category == 'state' and pageDto.keyword == '영업중'}">영업중</option>
                    <option value="휴업" th:selected="${pageDto.category == 'state' and pageDto.keyword == '휴업'}">휴업</option>
                    <option value="폐업" th:selected="${pageDto.category == 'state' and pageDto.keyword == '폐업'}">폐업</option>
                </select>
                <button type="button" onclick="submitForm()" class="search_btn">검색</button>
            </form>
            </div>
            <div class="franchiseInquiry-box">
                <table>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>고객명</th>
                        <th>연락처</th>
                        <th>이메일</th>
                        <th>입점일</th>
                        <th>매장명</th>
                        <th>매장위치</th>
                        <th>상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item:${list}">
                        <tr th:onclick="'handleClick(\''+${item.storeId}+'\')'">
                            <td>[[${itemStat.count}]]</td><td>[[${item.userName}]]</td><td>[[${item.userTel}]]</td><td>[[${item.userEmail}]]</td>
                            <td>[[${item.regDate}]]</td>
                            <td>[[${item.name}]]</td><td>[[${item.space}]]</td><td>[[${item.state}]]</td>
                        </tr>
                    </th:block>
                </table>
            </div>
            <!-- 페이징 -->
            <div th:replace="headOffice/pagination :: pagination(${pageDto})"></div>
        </div>
    </div>
</div>
<script defer>
    function handleClick(id){
        window.location.href=`/headOffice/memberDetail/${id}`;
    }
    function changeForm2(selectElement) {
        const form = selectElement.closest("form");
        const viewText = form.querySelector(".textBox");
        const viewSelect = form.querySelector(".statusBox");
        const viewDate = form.querySelector(".dateBox");
        let selectValue = selectElement.value;

        if(selectValue === "state") {
            // 상태검색 셀렉트 선택 시 select 폼
            viewText.style.display = "none";
            viewDate && (viewDate.style.display = "none");
            viewSelect.style.display = "block";
        } else if(selectValue === "date"){
            // 날짜 검색 셀렉트 선택 시 date 폼
            viewSelect.style.display = "none";
            viewText.style.display = "none";
            viewDate && (viewDate.style.display = "block");
        } else {
            // 나머지 선택 시 text 폼
            viewSelect.style.display = "none";
            viewDate && (viewDate.style.display = "none");
            viewText.style.display = "block";
        }
    }

    const searchFormTextBox = document.getElementById("query");
    function submitForm() {
        const form = document.getElementById("searchForm");
        const category = form.querySelector("select[name='category']").value;
        const keywordBox = document.getElementById("keywordBox");
        if(category==="state"){
            keywordBox.value=document.getElementById("statusBox").value;
        }else{
            keywordBox.value=searchFormTextBox.value;
        }
        form.submit();
    }
    searchFormTextBox.addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            submitForm();
        }
    });
</script>
</body>
</html>