<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="myHead(title)">
  <meta charset="UTF-8" />
  <title>[ [[${title}]] ] 월담|본사</title>
  <script src="https://kit.fontawesome.com/3e2532440e.js" crossorigin="anonymous"></script>
  <script src="/js/util.js"></script>
  <link rel="stylesheet" href="/css/headOffice.css" />
</head>
<head th:fragment="myHead02">
  <meta charset="UTF-8" />
  <title>월담|본사</title>
  <script src="https://kit.fontawesome.com/3e2532440e.js" crossorigin="anonymous"></script>
  <script src="/js/util.js"></script>
  <link rel="stylesheet" href="/css/headOffice.css" />
</head>
</html>