<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>프랜차이즈 신청</title>
    <link rel="stylesheet" href="/css/index_style.css">
</head>
<body>
<div id="header">

</div>

<div id="section">
    <div class="main">

    </div>

    <div class="adver">
        <div></div>
        <div></div>
    </div>

    <div class="menu">

    </div>
    <div class="franchise">

    </div>
    <div class="franchise_from">
<a href="/headOffice/franchiseList">본사 관리자화면 임시링크</a>
<form action="/brand/franchise" method="post" th:object="${dto}">
    <h1 style="text-align:center;">창업문의</h1>
    <table>
        <tr>
            <th>고객명</th>
            <td><input type="text" name="name" class="full-width" required th:field="*{name}"></td>
        </tr>
        <tr>
            <th>연락처</th>
            <td><input type="tel" name="tel" class="full-width" required th:field="*{tel}"></td>
        </tr>
        <tr>
            <th>이메일</th>
            <td><input type="email" name="email" class="full-width" th:field="*{email}"></td>
        </tr>
        <tr>
            <th>창업희망지역</th>
            <td>
                <select id="region1" required>
                    <option value="">-선택-</option>
                    <option value="서울">서울</option>
                    <option value="부산">부산</option>
                    <option value="대구">대구</option>
                    <option value="인천">인천</option>
                    <option value="광주">광주</option>
                    <option value="대전">대전</option>
                    <option value="울산">울산</option>
                    <option value="강원">강원</option>
                    <option value="경기">경기</option>
                    <option value="경남">경남</option>
                    <option value="경북">경북</option>
                    <option value="전남">전남</option>
                    <option value="전북">전북</option>
                    <option value="제주">제주</option>
                    <option value="충남">충남</option>
                    <option value="충북">충북</option>
                    <option value="세종">세종</option>
                </select>
                <select id="region2" >
                    <option value="">-선택-</option>
                </select>
                <input type="hidden" th:field="*{space}" name="space" id="regionInput">
            </td>
        </tr>
        <tr>
            <th>점포보유유무</th>
            <td>
                <label><input type="radio" name="store" value="있음" th:field="*{store}"> 있음</label>
                <label><input type="radio" name="store" value="없음" th:field="*{store}"> 없음</label>
            </td>
        </tr>
        <tr>
            <th>창업시기</th>
            <td>
                <label><input type="radio" name="time" value="즉시" required th:field="*{time}"> 즉시</label>
                <label><input type="radio" name="time" value="3개월 후" th:field="*{time}"> 3개월 후</label>
                <label><input type="radio" name="time" value="6개월 후" th:field="*{time}"> 6개월 후</label>
            </td>
        </tr>
        <tr>
            <th>문의경로</th>
            <td>
                <label><input type="checkbox" name="inquiry_route" value="웹 검색" th:field="*{course}"> 웹 검색</label>
                <label><input type="checkbox" name="inquiry_route" value="블로그&카페" th:field="*{course}"> 블로그&카페</label>
                <label><input type="checkbox" name="inquiry_route" value="광고" th:field="*{course}"> 광고</label>
                <label><input type="checkbox" name="inquiry_route" value="유튜브" th:field="*{course}"> 유튜브</label><br>
                <label><input type="checkbox" name="inquiry_route" value="SNS" th:field="*{course}"> SNS</label>
                <label><input type="checkbox" name="inquiry_route" value="지인 추천" th:field="*{course}"> 지인 추천</label>
                <label><input type="checkbox" name="inquiry_route" value="인근 매장" th:field="*{course}"> 인근 매장</label>
                <label><input type="checkbox" name="inquiry_route" value="기타" th:field="*{course}"> 기타</label>
            </td>
        </tr>
        <tr>
            <th>상세문의내용</th>
            <td><textarea name="content" rows="5" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <th>개인정보동의</th>
            <td>
                <label>
                    <input type="checkbox" name="privacy_agree" required>
                    개인정보 수집 및 이용에 동의합니다. (필수)
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <button type="submit">제출</button>
            </td>
        </tr>
    </table>
    <p th:if="${error}">[[${error}]]</p>

</form>
    </div>

    <div class="side_fran_menu"></div>
    <div class="bt_fran_menu"></div>
</div>

<div id="footer"></div>
<script defer th:inline="javascript" >

    const region1 = document.getElementById('region1');
    const region2 = document.getElementById('region2');
    const regionInput = document.getElementById('regionInput');

    const districts = {
        '서울': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
        '부산': ['강서구', '금정구', '남구', '동구', '동래구', '부산진구', '북구' ,'사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구', '기장군'],
        '대구': ['남구', '달서구', '동구', '북구', '서구', '수성구', '중구', '달성군'],
        '인천':['계양구', '남구', '남동구', '동구', '부평구', '서구', '연수구', '중구', '강화군', '옹진군'],
        '광주':['광산구', '남구', '동구', '북구', '서구'],
        '대전':['대덕구', '동구', '서구', '유성구', '중구'],
        '울산':['남구', '동구', '북구', '중구', '울주군'],
        '강원':['강릉시', '동해시', '삼척시', '속초시', '원주시', '춘천시', '태백시', '고성군', '양구군', '양양군', '영월군', '인제군', '정선군', '철원군', '평창군', '홍천군', '화천군', '횡성군'],
        '경기':['고양시 덕양구', '고양시 일산서구', '고양시 일산동구', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시 소사구', '부천시 오정구', '부천시 원미구', '성남시 분당구', '성남시 수정구',  '성남시 중원구', '수원시 권선구', '수원시 장안구', '수원시 팔달구', '시흥시', '안산시 단원구', '안산시 상록구', '안성시', '안양시 동안구', '안양시 만안구', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시', '평택시', '하남시', '화성시', '가평군', '양주군', '양평군', '여주군', '연천군', '포천군'],
        '경남':['거제시', '김해시', '마산시', '밀양시', '사천시', '양산시', '진주시', '진해시', '창원시', '통영시', '거창군', '고성군', '남해군', '산청군', '의령군', '창녕군', '하동군', '함안군', '함양군', '합천군'],
        '경북':['경산시', '경주시', '구미시', '김천시', '문경시', '상주시', '안동시', '영주시', '영천시', '포항시', '고령군', '군위군', '봉화군', '성주군', '영덕군', '영양군', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군'],
        '전남':['광양시', '나주시', '목포시', '순천시', '여수시', '강진군', '고흥군', '곡성군', '구례군', '담양군', '무안군', '보성군', '신안군', '영관군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군'],
        '전북':['군산시', '김제시', '남원시', '익산시', '전주시', '정읍시', '고창군', '무주군', '부안군', '순창군', '완주군', '임실군', '장수군', '진안군'],
        '제주':['서귀포시', '제주시', '남제주군', '북제주군'],
        '충남':['공주시', '논산시', '보령시', '서산시', '아산시', '천안시', '금산군', '당진군', '부여군', '서천군', '연기군', '예산군', '청양군', '태안군', '홍성군'],
        '충북':['제천시', '청주시 상당구', '청주시 흥덕구', '충주시', '괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '진천군', '청원군'],
        '세종': []
    };

    region1.addEventListener('change', function () {
        const selectedCity = this.value;
        region2.innerHTML = '<option value="">-선택-</option>';
        if (districts[selectedCity]) {
            districts[selectedCity].forEach(function (gu) {
                const option = document.createElement('option');
                option.value = gu;
                option.textContent = gu;
                region2.appendChild(option);
            });
        }
        addRegionInput();
    });
    region2.addEventListener('change', function () {
        addRegionInput();
    });
    function addRegionInput(){
        regionInput.value=region1.value +" "+region2.value;
    }


    window.onload = function() {
        var successMessage = /*[[${successMessage}]]*/ '';
        if (successMessage) {
            alert(successMessage);
        }
    }
</script>

</body>
</html>