<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/storeOwner/meta::myHead('고객센터')}"></head>
<body>
<header th:replace="~{/storeOwner/tnb}"></header>
<div class="section">
  <div th:replace="~{/storeOwner/header}"></div>


  <div class="main-layout">
    <div th:replace="~{/storeOwner/etcLnb::active('etc','edit')}"></div>

    <!-- 본문 컨텐츠 -->
    <div class="content help">
      <h2>고객 문의</h2>
      <div class="help-box box">
        <form action="/storeOwner/faqEdit" method="post" th:object="${dto}">
        <table>
            <tr>
              <th><h3 class="tit">제목</h3></th>
              <td>
                <select class="statusBox" name="category01">
                  <option value="홈페이지">홈페이지</option>
                  <option value="매출">매출문의</option>
                  <option value="재고">재고문의</option>
                  <option value="주문">주문문의</option>
                  <option value="반품">반품문의</option>
                </select>
              </td>
              <td><input type="text" name="title" th:field="*{title}" class="write_tit">
                <p class="error" th:errors="*{title}"></p>
              </td>
            </tr>
            <tr>
              <td><h3 class="tit">문의</h3></td>
              <td colspan="2"><textarea name="content" th:field="*{content}" rows="20" class="write_txt"></textarea>
                <p class="error" th:errors="*{content}"></p>
              </td>
            </tr>
            <tr class="private_tr">
              <th><h3 class="tit">비공개</h3></th>
              <td class="private_td"><input type="checkbox" name="state"/></td>
              <td><p>(미체크 시 다른사람이 볼 수 있으므로 개인정보에 유의하세요.)</p></td>
            </tr>
        </table>
        <div class="write_btns">
          <button type="button" class="cancel-btn default_btn" onclick="window.history.back()">취소</button>
          <button type="submit" class="write-btn default_btn">작성</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>