
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- 왼쪽 사이드바 -->
<div class="sidebar">
  <ul>
    <li class="order">
      <a href="#">주문</a>
      <ul class="submenu">
        <li><a href="#">주문신청</a></li>
        <li><a href="#">주문현황</a></li>
      </ul>
    </li>
    <li class="return">
      <a href="#">반품</a>
      <ul class="submenu">
        <li><a href="#">반품신청</a></li>
        <li><a href="#">반품현황</a></li>
      </ul>
    </li>
    <li class="sales">
      <a href="#">매출</a>
      <ul class="submenu">
        <li><a href="#">매출분석</a></li>
      </ul>
    </li>
    <li class="stock">
      <a href="#">재고</a>
      <ul class="submenu">
        <li><a href="#">매장재고</a></li>
        <li><a href="#">판매현황</a></li>
      </ul>
    </li>
    <li class="inquiry">
      <a href="#">고객센터</a>
      <ul class="submenu">
        <li><a href="#">문의 게시판</a></li>
        <li><a href="#">문의하기</a></li>
      </ul>
    </li>
  </ul>
</div>
</html>
