<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/storeOwner/meta::myHead('메인')}"></head>
<body>
<header th:replace="~{/storeOwner/tnb}"></header>
<div class="section">
  <div th:replace="~{/storeOwner/header}"></div>
  <div class="main-layout">
    <h1>점주메인</h1>

    <p>로그인한 사용자 ID: <span th:text="${user.userId}"></span></p>
    <p>로그인한 사용자 NAME: <span th:text="${user.userName}"></span></p>
    <p>첫 번째 스토어 ID: <span th:text="${user.storeId}"></span></p>
    <p>첫 번째 스토어 NAME: <span th:text="${user.storeName}"></span></p>
  </div>
</div>
</body>
</html>