<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>주문 목록</title>
</head>
<body>
<h2>주문목록</h2>

<form method="get" th:action="@{/store/storeorder/list-view}">
  요청 일자:
  <input type="date" name="startDate" th:value="${startDate}">
  <input type="date" name="endDate" th:value="${endDate}">
  <button type="submit">검색</button>
</form>

<table border="1">
  <thead>
  <tr>
    <th>주문번호</th>
    <th>요청일</th>
    <th>품목코드</th>
    <th>품목명</th>
    <th>수량</th>
    <th>주문상태</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${orderList}">
    <td th:text="${order.orderNumber}"></td>
    <td th:text="${order.orderDate}"></td>
    <td th:text="${order.itemCode}"></td>
    <td th:text="${order.itemName}"></td>
    <td th:text="${order.orderedQuantity}"></td>
    <td th:text="${order.status}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
