<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>월담에 오신걸 환영합니다</title>
    <link rel="stylesheet" href="/css/index_style.css" />
</head>
<body>  
    <h2>
      <div class="logo">
        <a href="/"><img src="/images/moonlogo.jpg" alt="logo"></a>
      </div>
    </h2>
    <h1>인트로화면</h1>
    <ul>
      <li><a href="/brand/franchise">브랜드</a></li>
      <li><a href="/login">로그인</a></li>
    </ul>
</body>
</html>