<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
  <div class="container">
    <ul class="loginBox">
      <li><label class="one_form_label"><span>아이디</span><input type="text" name="userId" /></label></li>
      <li><label class="one_form_label"><span>비밀번호</span><input type="password" name="userPw" /></label></li>
      <li>
        <button class="btn_login">LOGIN</button>
      </li>
      <li th:if="${error}">[[${error}]]</li>
    </ul>
  </div>
</form>

</body>
</html>