<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>반품신청서</title>
</head>
<body>

<h2>반품신청서 <button type="button">주문조회</button></h2>

<form action="purchase/purchaseOrder" method="post">
<table>
  <thead>
  <tr>
    <th>품목코드</th>
    <th>품목명</th>
    <th>반품수량</th>
    <th>반품신청일</th>
  </tr>
  </thead>
  <tbody>
  <!-- 반복 가능한 행 예시 3줄 -->
  <tr>
    <td><input type="text" name="itemCode[]"></td>
    <td><input type="text" name="itemName[]"></td>
    <td><input type="number" name="receivedQuantity"></td>
    <td><input type="date" name="dueDate"></td>
  </tr>
  </tbody>
</table>



<div class="form-section">
  <label>반품사유 :<br>
    <textarea name="returnReason"></textarea>
  </label>
</div>

<div class="form-section">
  <label>반품번호 :
    <input type="text" name="returnNumber">
  </label>
</div>

<button type="submit">저장</button>
</form>

</body>
</html>
